<header class="header">
  <div class="header__info">
    <img src="../../../assets/img/logo.png" alt="logo" class="header__info__img">
    <div class="header__info__descr">IRA Accounts provided by Fidelity Investments</div>
  </div>
  <div class="header__steps">
    <div class="header__steps__item header__steps__item--active">
      <div class="header__steps__item__icon">
        <i class='uil uil-file-copy-alt'></i>
      </div>
      <p class="header__steps__item__text">IRA Application</p>
    </div>

    <div class="header__steps__item">
      <div class="header__steps__item__icon">
        <i class='uil uil-sliders-v-alt'></i>
      </div>
      <p class="header__steps__item__text">Risk Assessment</p>
    </div>

    <div class="header__steps__item">
      <div class="header__steps__item__icon">
        <i class='uil uil-scenery'></i>
      </div>
      <p class="header__steps__item__text">Upload ID</p>
    </div>
  </div>
</header>
