@import "~src/assets/scss/var";

.wrap {
  padding: 50px;
}
.title {
  margin: 0 0 60px 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  color: $default-color;
  letter-spacing: 3px;
}

.sub-title {
  color: $black-color;
  font-size: 18px;
  font-weight: 700;
}

.form-label {
  position: absolute;
}

.form-row {
  position: relative;
}

.form-control {
  margin-top: 25px;
}

.actions {
  position: absolute;
  right: -78px;
  width: 75px;

  &__item {
    position: relative;
    top: 24px;
    font-size: 24px;
  }
}
.actions__item:hover {cursor: pointer;}

.remove {color: red;}
.add {color: $check-color;}

.form-control {
  background-color: $grey-color;
  border: none;
}

.alert {
  float: right;
}

.next-step {
  margin-top: 60px;
}